<!DOCTYPE html>
<html>
<head>
  <title>TravelBucket</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="group">
    <a class="logo" href="/hi" >TravelBucket</a>
    <% if signed_in? %>
    <h6 class="name">Hi, <%= current_user.name %>!</h6>      
    <%= button_to "Sign Out", session_url, :method => :delete %>
    <% else %>
    <ul>
      <li><%= link_to "Sign In", new_session_url %></li>
      <li><%= link_to "Sign Up", new_user_url %></li>

    </ul>
    <% end %>
  </header>
<%= yield %>

</body>
</html>
